ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 10px;
}

li div span {
  display: inline-block;
}

.btn-filters {
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  border: 1px solid gray;
  color: white;
  font-weight: bold;
  background: #433837;
}

.active-filter {
  background: #3e100c;
}


.mrg {
  min-height: 80px;
}